	*{margin:0;padding:0;}
	.main_pic{
	position:relative;
	width:960px;
	height:800px;
	margin:0 auto;
	background:url('balunes_kid.jpg') top center no-repeat;
	border:1px solid #000;
	}
    .send_but{
	position:absolute;
	Z-index:1;
	width:100px;
	height:50px;
	top:600px;
	left:320px;
	font-size:40px;
	}
	.right_but{
	position:absolute;
	Z-index:1;
	width:100px;
	height:50px;
	top:530px;
	left:550px;
	font-size:40px;
	}
	.bloom_but{
	position:absolute;
	Z-index:1;
	width:100px;
	height:50px;
	top:530px;
	left:350px;
	font-size:40px;
	}
	.inst_but{
	position:absolute;
	Z-index:1;
	width:150px;
	height:30px;
	top:20px;
	left:1000px;
	font-size:20px;
	}
	.reset_rutton{
	position:absolute;
	Z-index:1;
	width:140px;
	height:140px;
	top:450px;
	left:-140px;
	}
	.upBaloom{
	position:absolute;
	width:100px;
	height:60px;
	top:700px;
	left:450px;
	background:url('smiley.png') center center no-repeat;
	padding:20px 0;
	display:none;
	}
	.word{
	width:100px;
	text-align:center;
	color:#000;
	font-family:arial;
	font-size:20px;
	line-height:20px;
    margin-top:20px;
	}
	.right_wrong_massege{
	position:absolute;
	top:500px;
	left:50px;
	color:#000;
	font-family:arial;
	font-size:20px;
	}
	#mass{
	margin-right:10px;
	float:left;
	}
	#quality{
	margin-right:10px;
	color:#0000ff;
	text-decoration:underline;
	float:left;
	}
	#rightwrong{
	margin-right:10px;
	float:left;
	}
	#rightcounter{
	position:absolute;
	width:100px;
	top:150px;
	left:-100px;
	color:#00cc66;
	font-family:arial;
	font-size:30px;
	font-weight:bold;
    text-align:center;
	}
	#instructions{
	position:absolute;
	Z-index:2;
	display:none;
	background:#c0c0c0;
	width:450px;
	height:400px;
	top:200px;
	left:700px;
	color:#000;
	font-family:arial;
	font-size:20px;
    text-align:right;
	}
  .return_butten{
	position:absolute;
	top:570px;
	right:-190px;
 	font-family:arial;
	font-size:18px;
 }
