  *{margin:0;padding:0;}
  .wrapper{
  position:relative;
  height:920px;
  margin:0 auto;
  }
  .box{
  width:200px;
  padding:2px;
  margin:3px;
  float:left;
  }
  .resetbutton{
  width:100px;
  height:100px;
  float:left;
  }
	.inst_but{
	position:absolute;
	Z-index:1;
	width:70px;
	height:30px;
	top:20px;
	font-size:20px;
	}
  #piccard{
  width:300px;
  height:100px;
  color:#660033;
  font-size:26px;
  font-family:arial;
  text-align:left;
  margin-top:30px;
  float:left;
  }
  #matchedcards{
  width:300px;
  height:100px;
  color:#660033;
  font-size:26px;
  font-family:arial;
  text-align:right;
  margin-top:30px;
  float:left;
  }
  	#instructions{
	position:absolute;
	Z-index:2;
	display:none;
	background:#c0c0c0;
	width:450px;
	height:400px;
	top:200px;
	color:#000;
	font-family:arial;
	font-size:20px;
    text-align:right;
	}
  .return_butten{
	position:absolute;
	top:550px;
	right:-190px;
 	font-family:arial;
	font-size:18px;
 }
